name: Build and push events-service image to ACR

on:
  push:
    branches: [ main, master ]
    paths:
      - '**/Services/events-service/**'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      ACR_NAME: ${{ secrets.ACR_NAME }}
      ACR_LOGIN_SERVER: ${{ secrets.ACR_NAME }}.azurecr.io
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        uses: azure/docker-login@v1
        with:
          login-server: ${{ env.ACR_LOGIN_SERVER }}

      - name: Build and push events-api image
        uses: docker/build-push-action@v4
        with:
          context: ./
          file: ./src/events-service.Api/Dockerfile
          push: true
          platforms: linux/amd64
          tags: |
            ${{ env.ACR_LOGIN_SERVER }}/events-api:latest
            ${{ env.ACR_LOGIN_SERVER }}/events-api:${{ github.sha }}
